<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >  
<suite name="hybrid-automation">
 	<test name="Hybrid Test Automation" >
		<parameter name="browser" value="chrome" />
    		<classes>
       			<class name="src.com.test.Test_ID_14_Google"/>
       		</classes>
  	</test> <!-- Test -->
</suite> <!-- Suite -->